body {
  background-color: DodgerBlue;
}
a {
  text-decoration: none;
  color: black;
}
h1,h2,h3,h4,h5,h6,p {
  color: black;
  text-align: center;
}
li {
  list-style: square;
  text-align: center;
  color: black;
}
#through {
  text-decoration: line-through;
  color: gray;
}
#center {
  text-align: center;
}
